/* NAVBAR HEADER */
.navheader {
    background-color: var(--encabezado);
    color: var(--blanco);
    display: flex;
    align-items: center;
}

/* NAVBAR BRAND */
.navheader .navbar-brand{
    font-family: var(--marca-font);
    color: var(--blanco) !important; /* para sobreescribir bootstrap */
    text-align: center;
    font-size: 1.5rem;
    flex-grow: 0.75; /* para ocupar el espacio */
}

@media (min-width: 768px) {
    .navheader .navbar-brand{
        font-family: var(--marca-font);
        color: var(--blanco) !important; /* para sobreescribir bootstrap */
        text-align: left;
        font-size: 1.5rem;
    }
}

/* NAVBAR LINKS PAGINAS */
.nav-link,
.navbar-nav .nav-item {
    font-family: var(--texto-font);
    color: var(--blanco) !important;
}

/* NAVBAR TOGGLER */
/* para quitar el borde gris predeterminado */
.navbar-toggler {
    border-color: transparent !important; 
}
.navbar-toggler-icon {
    margin-left: -15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important; /* quita el contorno negro por defecto al seleccionar */
    box-shadow: none !important; /* quita cualquier sombra residual */
}

/* DROPDOWN ITEMS */
.custom-dropdown .dropdown-menu {
    background-color: var(--encabezado);
    border: none;
}
.custom-dropdown .dropdown-item {
    color: var(--blanco);
}
.custom-dropdown .dropdown-item:hover {
    background-color: var(--boton);
    color: var(--blanco);
}

/* NAVBAR COLLAPSE */
.navbar-collapse {
    flex-grow: 0;
}

/* PARA DEFINIR EL ORDEN DE LOS ELEMENTOS EN EL NAVBAR */
.navheader .navbar-toggler {
    order: 1;
}
.navheader .navbar-brand {
    order: 2;
    margin-left: auto;
    margin-right: auto;
}
.navheader .navbar-collapse {
    order: 3;
}

/* PARA DEFINIR EL ORDEN DE LOS ELEMENTOS EN EL NAVBAR DE MAYOR RESOLUCION*/
@media (min-width: 768px) {
    .navheader .navbar-toggler {
        order: 2; 
    }
    .navheader .navbar-brand {
        order: 1; 
    }
    .navheader .navbar-collapse {
        order: 3; 
    }
}

/* ICONO PERSONA PARA USUARIO */
#icono-persona {
    display: flex;
    align-items: center; 
}
#icono-persona .svg-icon-persona {
    width: 30px;
    height: 30px;
}