.carousel-divider {
    width: 100%;  /* Ocupa todo el ancho */
    background-color: white;  /* Fondo blanco para disimular */
    border-top: 2px solid var(--boton);  /* Línea de color --boton */
    margin-top: 0;
}

/* POSICION DEL TEXTO */
.carousel-caption-below {
    text-align: left;
    background-color: white;
    border-radius: 10px; 
    width: 100%;
}
/* ETIQUETAS */
.carousel-tag {
    background-color: var(--iconos);
    font-family: var(--text-font);
    color: var(--encabezado);
    padding: 8px 20px; 
    border: none;
    font-size: 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* UNUSED CSS */

/* TRANSMICIÓN DE CAMBIO DE PAGINAS */
/* .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    transition: transform 0.5s ease; 
} */
/* INDICADPRES */
/* .carousel-indicators {
    position: absolute;  
    bottom: -50px;  
    left: 0;
    right: 0;
    z-index: 1;  
} */
/* FLECHAS */
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--iconos); 
    border-radius: 50%;
    border: 3px solid var(--iconos);
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: var(--iconos); 
} */