/*--- ALL PAGES ---*/

/* CUERPO */
body {
    background-color: var(--fondo); /* DEFINIR COLOR DE FONDO PREDETERMINADO */
}

/*--- REGISTER PAGE ---*/

/* TEXT FORMS */
.TextForms {
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left; /* definir a la izquierda */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px; /* Espaciado entre los campos */
    display: flex;
    flex-direction: column;
}
.form-group > label {
    margin-left: 10px;
}
.form-group > small {
    margin-left: 5px;
    font-size: 15px;
}

/* TEXT FORMS INPUT BOX */
.form-control {
    margin-top: 5px;
    background-color: var(--iconos-opacity);
    border: none;
    border-radius: 18px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.text {
    margin-left: 10px;
    color: var(--mensajes);
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    margin-top: 100px;
}
.primaryButton {
    width: 100%;
    max-width: 180px; 
    margin-top: 20px;
}
.secondaryButton {
    width: 100%; 
    max-width: 273px; 
    transform: scale(0.6);
}

/* CHECKBOX */
.form-group.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.form-check-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.form-check-label {
    font-size: 14px; 
}
.form-error {
    min-height: 60px;
    margin-bottom: 15px;
}
.alert {
    margin: 0;
}

/* HELP US PAGE */

/* INFO */
.help-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.help-us-container {
    margin-top: 20px;
    background-color: var(--iconos-opacity); 
    font-family: var(--texto-font);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.description {
    font-size: 18px;
    color: var(--encabezado);
    font-weight: bold; 
}
.requirement {
    color: var(--boton);
    display: flex;
    align-items: center;
    text-align: left;
}
.icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
hr {
    border: none;
    border-top: 1px solid #5A377C;
    margin: 10px 0;
    margin-bottom: 20px;
}

.secondaryButton1 {
    margin-top: 40px;
    transform: scale(1.2);
}

/*--- PERSONAL DATA QUIZ PAGE ---*/

/* PERSONAL DATA FORMS */
.title {
    margin-bottom: 20px;
}

.DataForm {
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left; 
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px;
}
.subtitle {
    color: var(--boton);
    font-family: var(--texto-font);
    font-size: 28px;
    text-align: left; 
    font-weight: bold;
}
.DataForm1 {
    text-align: left; 
    padding: 20px;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -40px;
}
.subtitle1 {
    margin-top: -20px;
    margin-bottom: 20px;
    color: var(--encabezado);
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
}
.DataForm2 {
    padding: 20px;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -20px;
}

/* PERSONAL DATA FORMS */
.range-container {
    font-family: var(--texto-font);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
    gap: 10px;
}
.range-slider {
    max-width: 480px;
    width: 480px;
    appearance: none;
    height: 15px;
    background: #d9c1f1;
    border-radius: 10px;
    outline: var(--iconos);
}
.range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #b1a7d6;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}
.range-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #b1a7d6;
    border-radius: 50%;
    cursor: pointer;
}
.range-slider::-webkit-slider-thumb:hover,
.range-slider::-moz-range-thumb:hover {
    background-color: #a392c4;
}
.range-value {
    font-size: 1em;
    font-weight: bold;
    color: #7e6991;
}

/* BOTON SIGUIENTE */
.secondaryButton3 {
    margin-bottom: 40px;
}

/* QUESTION ICON */
.icon-question {
    position: relative;
    top: 7px; /* Ajusta el valor para mover hacia abajo */
    width: 20px; /* Ajusta el tamaño según necesites */
    height: 20px;
    cursor: pointer;
}

/* CUSTOM PLACEHOLDER FOR CM Y */
.right-placeholder::placeholder {
    text-align: right;
}
.right-placeholder {
    text-align: left; 
}