/*--- ALL PAGES ---*/

/* CUERPO */
body {
    background-color: var(--fondo); /* DEFINIR COLOR DE FONDO PREDETERMINADO */
}

/*--- REGISTER PAGE ---*/

/* TEXT FORMS */
.TextForms {
    text-align: left; /* definir a la izquierda */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px; /* Espaciado entre los campos */
}
.form-control {
    margin-top: 5px;
    background-color: var(--iconos-opacity);
    border-radius: 18px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.text {
    margin-left: 10px;
    color: var(--mensajes);
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}
.primaryButton {
    width: 100%;
    max-width: 180px; 
    margin-top: 20px;
}
.secondaryButton {
    width: 100%; 
    max-width: 241px; 
    transform: scale(0.7);
}
.secondaryButton2 {
    width: 100%; 
    max-width: 273px; 
    transform: scale(0.6);
}

/* CHECKBOX */
.form-group.form-check {
    display: flex;
    margin-left: 10px; 
    margin-top: -10px; 
    margin-bottom: 250px;
}
.form-check-input {
    width: 15px;
    height: 15px;
    margin-right: 5px; 
    cursor: pointer;
}
.form-check-label {
    font-size: 14px; 
}

/* HELP US PAGE */

/* INFO */
.help-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.help-us-container {
    margin-top: 20px;
    background-color: var(--iconos-opacity); 
    font-family: var(--texto-font);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.description {
    font-size: 18px;
    color: var(--encabezado);
    font-weight: bold; 
}
.requirement {
    color: var(--boton);
    display: flex;
    align-items: center;
    text-align: left;
}
.icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
hr {
    border: none;
    border-top: 1px solid #5A377C;
    margin: 10px 0;
    margin-bottom: 20px;
}

.secondaryButton1 {
    margin-top: 40px;
    transform: scale(1.2);
}