/*--- ALL PAGES ---*/

/* CUERPO */
body {
    background-color: var(--fondo); /* DEFINIR COLOR DE FONDO PREDETERMINADO */
}

/*--- REGISTER PAGE ---*/

/* TEXT FORMS */
.TextForms {
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left; /* definir a la izquierda */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px; /* Espaciado entre los campos */
    display: flex;
    flex-direction: column;
}
.form-group > label {
    margin-left: 10px;
}
.form-group > small {
    margin-left: 5px;
    font-size: 15px;
}

/* TEXT FORMS INPUT BOX */
.form-control {
    margin-top: 5px;
    background-color: var(--iconos-opacity);
    border: none;
    border-radius: 18px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.text {
    margin-left: 10px;
    color: var(--mensajes);
}

/* BUTTONS */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    margin-top: 100px;
}
.primaryButton {
    width: 100%;
    max-width: 180px; 
    margin-top: 20px;
}
.secondaryButton {
    width: 100%; 
    max-width: 273px; 
    transform: scale(0.6);
}

/* CHECKBOX */
.form-group.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.form-check-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.form-check-label {
    font-size: 14px; 
}

/* HELP US PAGE */

/* INFO */
.help-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.help-us-container {
    margin-top: 20px;
    background-color: var(--iconos-opacity); 
    font-family: var(--texto-font);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.description {
    font-size: 18px;
    color: var(--encabezado);
    font-weight: bold; 
}
.requirement {
    color: var(--boton);
    display: flex;
    align-items: center;
    text-align: left;
}
.icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
hr {
    border: none;
    border-top: 1px solid #5A377C;
    margin: 10px 0;
    margin-bottom: 20px;
}

.secondaryButton1 {
    margin-top: 40px;
    transform: scale(1.2);
}

/*--- PERSONAL DATA QUIZ PAGE ---*/

/* PERSONAL DATA FORMS */
.title {
    margin-bottom: 10px;
}

.DataForm {
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left; 
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px;
}
.subtitle {
    color: var(--boton);
    font-family: var(--texto-font);
    font-size: 28px;
    text-align: left; 
    font-weight: bold;
}
.DataForm1 {
    text-align: left; 
    padding: 20px;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -40px;
}
.subtitle1 {
    margin-top: -20px;
    margin-bottom: 20px;
    color: var(--encabezado);
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
}
.DataForm2 {
    padding: 20px;
    gap: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -20px;
}

/* PERSONAL DATA FORMS */
.range-container {
    font-family: var(--texto-font);
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
    gap: 10px;
}
.range-slider {
    max-width: 480px;
    width: 480px;
    appearance: none;
    height: 15px;
    background: #d9c1f1;
    border-radius: 10px;
    outline: var(--iconos);
}
.range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #b1a7d6;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}
.range-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #b1a7d6;
    border-radius: 50%;
    cursor: pointer;
}
.range-slider::-webkit-slider-thumb:hover,
.range-slider::-moz-range-thumb:hover {
    background-color: #a392c4;
}
.range-value {
    font-size: 1em;
    font-weight: bold;
    color: #7e6991;
}

/* BOTON SIGUIENTE */
.secondaryButton3 {
    margin-bottom: 40px;
}

/* QUESTION ICON */
.icon-question {
    position: relative;
    top: 7px; /* Ajusta el valor para mover hacia abajo */
    width: 20px; /* Ajusta el tamaño según necesites */
    height: 20px;
    cursor: pointer;
}

/* CUSTOM PLACEHOLDER FOR CM Y KG */
.right-placeholder::placeholder {
    text-align: right;
}
.right-placeholder {
    text-align: left; 
}

/* UPLOAD IMAGE PAGE */

/* MARGEN FOR THE IMAGE */
.UploadImageForm {
    font-family: var(--texto-font);
    font-size: 22px;
    text-align: left; 
    padding: 20px;
    max-width: 600px; 
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px;
}
.face-image {
    width: 100%; 
    max-width: 600px; 
    display: block; /* para que se comporte como un bloque */
    margin: 10px auto; /* centra la imagen con un margen */
}

/* TEXT PROPIERTY */
.recommendation-label {
    color: var(--encabezado);
    display: block; /* para que la etiqueta ocupe toda la linea */
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 10px; 
}
.uploadimage-label{
    margin-top: 20px;
}

/* FILE INPUT */
.file-info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.file-name-text {
    font-size: medium;
    margin: 0;
    line-height: 1.5; /* Ajusta para alinear */
    text-align: center; 
    color: var(--boton);
}
.remove-file-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    color: var(--boton);
    line-height: 1.5;
    display: flex; 
    align-items: center; 
    align-self: center; 
    margin-bottom: -3px;
}

/* RESULTS PAGE */

/* LABELS */
.results-page {
    font-family: var(--texto-font);
    margin: auto;
    margin-bottom: 20px;
    margin-top: -20px;
    max-width: 600px;
    padding: 20px;
}
.results-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.result-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.results-label {
    font-size: 24px;
    font-weight: bold;
    color: var(--encabezado);
    grid-column: span 2; 
    text-align: center;
    margin-bottom: 10px;
}
.result-info {
    flex-direction: column;
    align-items: center;
}
.result-image {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    height: auto;
}
.result-description {
    font-size: 14px;
    text-align: left;
}
.result-text-box {
    background-color: var(--boton);
    color: var(--vinculos);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: -2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border-radius: 10px;
}

/* ACEPTAR BUTTON */
.secondaryButton4 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* START WITH... PAGE */

/* PAGE */
.start-page {
    font-family: var(--texto-font);
    justify-content: center; 
    align-items: center;  
    text-align: center; 
    margin: auto;
    max-width: 600px;
}
.start-container {
    text-align: center;
}
.subtitle-label {
    display: block;
    font-size: 24px;
    color: var(--encabezado);
    grid-column: span 2; 
    text-align: center;
}
.page-button {  
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.page-button button.selected {
    background-color: var(--boton) !important; 
    color: #fff !important; 
}

/* COLORIMETRY PAGE */

/* LABELS */
.colorimetry-content {
    padding: 10px;
}
.subtitle1-label {
    display: block;
    font-size: 20px;
    color: var(--boton);
    grid-column: span 2; 
    text-align: center;
}
.categories-label {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    grid-column: span 2; 
}
.color-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 30px;
}
.color-image {
    width: 100%;
    max-width: 280px;
    border-radius: 8px;
}