/* IMAGEN */
.product-image {
    border: 5px solid var(--iconos); 
    border-radius: 8px; 
}

.recommendation-content img {
    max-width: 100%; 
    height: auto;    
    display: block;
    margin: 0 auto;  
}

/* ESTRELLAS */
.stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.star-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* BOTONES */
.recommendation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.recommendation-PB {
    max-width: 150px;
    width: 100%; 
    margin-top: 20px;
    text-align: center;
}

.recommendation-SB {
    margin-top: -10px;
    transform: scale(0.8);
}
